SCRT_MES.UnitTestProject/Service References/ServiceReference1/DataInteraction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DataMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:RfidCollections" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RfidCollections">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Empty_pt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zpltn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Matnr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Exidv" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tag_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="rfidKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="plantTo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="stockLocTo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="stockBinTo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="plantFrom" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="stockLocFrom" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="stockBinFrom" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="assLine" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="linePoint" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DataMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataMethodResult" type="tns:ServerMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServerMessage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DataMethodSoapIn">
    <wsdl:part name="parameters" element="tns:DataMethod" />
  </wsdl:message>
  <wsdl:message name="DataMethodSoapOut">
    <wsdl:part name="parameters" element="tns:DataMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="DataInteractionSoap">
    <wsdl:operation name="DataMethod">
      <wsdl:input message="tns:DataMethodSoapIn" />
      <wsdl:output message="tns:DataMethodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataInteractionSoap" type="tns:DataInteractionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DataMethod">
      <soap:operation soapAction="http://tempuri.org/DataMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataInteractionSoap12" type="tns:DataInteractionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DataMethod">
      <soap12:operation soapAction="http://tempuri.org/DataMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataInteraction">
    <wsdl:port name="DataInteractionSoap" binding="tns:DataInteractionSoap">
      <soap:address location="http://localhost:9974/DataInteraction.asmx" />
    </wsdl:port>
    <wsdl:port name="DataInteractionSoap12" binding="tns:DataInteractionSoap12">
      <soap12:address location="http://localhost:9974/DataInteraction.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>