SCRT_MES.DAL/Web References/sapService/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_BN_ZMMRFIDSERBINDING">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN_BN_ZMMRFIDSERBINDING_SOAP12">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_ZMMRFID">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>57BADD055F130C40E1008000BE010A87</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZmmfRfidWs">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char24">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="24" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char500">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="500" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="Zsrfidoutput">
        <xsd:sequence>
          <xsd:element name="Zsjno" type="n0:char24" />
          <xsd:element name="Ztype" type="n0:char20" />
          <xsd:element name="MType" type="n0:char20" />
          <xsd:element name="MMess" type="n0:char500" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZsrfidoutput">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Zsrfidoutput" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZmmfRfidWs">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Exidv" type="n0:char20" />
            <xsd:element name="GtOutput" type="tns:TableOfZsrfidoutput" />
            <xsd:element name="Matnr" type="n0:char18" />
            <xsd:element name="Werks" type="n0:char4" />
            <xsd:element name="ZlgortOri" type="n0:char4" />
            <xsd:element name="ZlgortTar" type="n0:char4" />
            <xsd:element name="Zpltn" type="n0:char15" />
            <xsd:element minOccurs="0" name="Zpoint" type="n0:char3" />
            <xsd:element name="Zsjno" type="n0:char24" />
            <xsd:element name="Ztype" type="n0:char20" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZmmfRfidWsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GtOutput" type="tns:TableOfZsrfidoutput" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZmmfRfidWs">
    <wsdl:part name="parameters" element="tns:ZmmfRfidWs" />
  </wsdl:message>
  <wsdl:message name="ZmmfRfidWsResponse">
    <wsdl:part name="parameter" element="tns:ZmmfRfidWsResponse" />
  </wsdl:message>
  <wsdl:portType name="ZMMRFID">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://sapdev:8000/sap/bc/esdt/docu/sd_text?sap-client=330&amp;sd_name=ZMMRFID" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_ZMMRFID" />
    </wsp:Policy>
    <wsdl:operation name="ZmmfRfidWs">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZmmfRfidWs" />
      </wsp:Policy>
      <wsdl:input message="tns:ZmmfRfidWs" />
      <wsdl:output message="tns:ZmmfRfidWsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZMMRFIDSERBINDING" type="tns:ZMMRFID">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_ZMMRFIDSERBINDING" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZmmfRfidWs">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZMMRFID:ZmmfRfidWsRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZMMRFIDSERBINDING_SOAP12" type="tns:ZMMRFID">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_ZMMRFIDSERBINDING_SOAP12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZmmfRfidWs">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZMMRFID:ZmmfRfidWsRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZMMRFIDSER">
    <wsdl:port name="ZMMRFIDSERBINDING" binding="tns:ZMMRFIDSERBINDING">
      <soap:address location="http://sapdev:8000/sap/bc/srt/rfc/sap/zmmrfid/330/zmmrfidser/zmmrfidserbinding" />
    </wsdl:port>
    <wsdl:port name="ZMMRFIDSERBINDING_SOAP12" binding="tns:ZMMRFIDSERBINDING_SOAP12">
      <wsoap12:address location="http://sapdev:8000/sap/bc/srt/rfc/sap/zmmrfid/330/zmmrfidser/zmmrfidserbinding" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>